@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Cauta un elev</h1>
    <form onsubmit="">
        <input type="text"/>
        <button type="submit">Cautare</button>
    </form>
</div>
